/* 타이틀 */
.title {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 22px;
}
/* 메인 */
.main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.content {
  width: 20rem;
}
.content-img {
  width: 100%;
}
